@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:wght@300&display=swap');

body {
    background-color: rgb(240, 146, 146);
}

h1{
    text-align: center;
    font-family: 'Monofett', cursive;
    font-size: 60px;
}

.canvas-container, .counter-container{
    display: flex;
    justify-content: center;
    
}
#canvas{
    position: absolute;


}
.start-image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    background-color: rgba(244, 185, 185, 0.4);
}

.start{
    all: unset;
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.start:hover{
    opacity: 0.8;
}

.snack-counter{
    position: absolute;
    width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(240, 146, 146);
    margin-left: 80px;
    margin-top: 10px;
}
.snack-counter p{
    margin-right: 10px;
}